#root {
  background-color: $color-oldpaper;
}

.container {
  /* background-image: url("/src/assets/imgs/t_a.jpg"); */
  font-size: 18px;
  font-family: $project-font;
  color: $color-globaltext;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  background-color: white; 
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 1fr 1fr auto;
  grid-template-areas:
    "cabecera cabecera cabecera cabecera"
    "principal principal principal principal"
    "principal principal principal principal"
    "footer footer footer footer";
}
