//VARIABLES

$project-font: "Rubik", sans-serif;

// COLORES
$color-background: #f4f7f5;
$color-globaltext: #333333;
$color-coolyellow: #f2dd6e;
$color-textmenu: #040d12;
$color-cardhover: #ccc7c14d;

$redes-sociales: (
  facebook: #016fb9,
  instagram: #ff5571,
  tiktok: black,
);
