.cartContainer {
  grid-area: principal;
  background-color: rgba(242, 221, 110, 0.5);
  /* @include d-flex(center, center);
  flex-direction: column;
   */
   &>h1{
    font-size: 1.5rem;
    text-align: center;
    margin:2rem;

   }
  &--listItems {
    @include d-flex(center, center);
    flex-direction: column;
    border: 1px solid orange; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%; 
    margin: auto;
    background-color: white;
    &--pvp{
      margin: 0.5rem 1rem 1rem 1rem;
      background-color: orange;
      padding: 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &--total {
    @include d-flex(space-evenly, center);
    &>p{
      font-size: 1rem;
    }

    &>button {
      margin: 2rem 0 1rem 0;
      box-shadow: inset 0px 39px 0px -24px #e67a73;
      background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
      background-color: #e4685d;
      border-radius: 4px;
      border: 1px solid $color-coolyellow;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 20px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #b23e35;

      &:hover {
        background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
        background-color: #eb675e;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

.itemBox {
  /* background-color: gainsboro; */
  /* background-color: rgba(242, 221, 110, 0.5); */
  border-radius: 5px;
  width: 100%;
  min-height: 100px;
  /*  padding: 1rem; */
  margin: 1rem;
  @include d-flex(space-around, center);

  &--img {
    max-height: 8rem;
  }

  &--text {
    @include d-flex(space-around, flex-start);
    flex-direction: column;
    height: 100px;
    width: 200px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  &--icono {
    width: 1.5rem;
  }

  &:hover {
    background-color: ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.05);
  }
}

.purchase {
  @include flex-center;
  flex-direction: column;
  border: 1px solid #6d976d;
  color: #6d976d;
  background-color: #dbf6db;
  margin: 1rem auto;
  width: 50%;
  max-width: 70%;
  padding: 1rem;
  font-size: 0.9rem;
  &>p{
    padding:0.25rem;
  }
  &--button {
    margin-top: 1rem;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid $color-coolyellow;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    &:hover {
      background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
      background-color: #eb675e;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}