.checkout {
    grid-area: principal;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--left {
        &--comprador {
            /* border: 1px solid orange; */
            @include d-flex(center, flex-start);
            flex-direction: column;
            /* background: $gradient-header; */
            margin: 1rem auto;
            padding: 1rem;
            /*   border-radius: 1rem; */
            max-width: fit-content;
            line-height: 2;
  
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            &>p{
                font-size: 0.9rem;
            }
        }

        &--button {
            font-size: 0.8rem;
            &--but {
                box-shadow: inset 0px 39px 0px -24px #e67a73;
                background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
                background-color: #e4685d;
                border-radius: 4px;
                border: 1px solid $color-coolyellow;
                cursor: pointer;
                color: #ffffff;
                padding: 10px 20px;
                text-decoration: none;
                text-shadow: 0px 1px 0px #b23e35;
                &:hover {
                    background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
                    background-color: #eb675e;
                }
                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    &--comics {
        /* border: 1px solid orange; */
        @include d-flex(center, flex-start);
        flex-direction: column;
        background: $gradient-footer; 
        margin: 1rem;
        padding: 1rem;
        /*    border-radius: 1rem; */
     
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        &>h5 {
            margin-left: 1rem;
        }
        &--comic {
            @include d-flex(space-between, center);
            width: 400px;
            &>img {
                margin: 1rem;
                height: 180px;
            }

            &--text {
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;

                &>p {
                    font-size: 0.9rem;
                }
            }
        }

        &--total {
            border-top: 1px solid $color-globaltext;
            width: 400px;
            text-align: end;
            font-size: 0.8rem;
            line-height: 1.4;
        }
    }
}