.itemlistcontainer {
  grid-area: principal;
  /* @include d-flex(flex-start, center);
  flex-direction: column; */
  max-width: 1440px;
  width: 100%;
  &--logo {
    display: flex;
    justify-content: center;
    background: $gradient-header;
  }
}

.itemlist {
  @include d-flex(space-around, center);
  flex-wrap: wrap;
}

.item {
  margin: 25px;
   /*  border: 1px solid orange;  */
  padding: 1rem;
  width: 285px;
  height: 500px;
  border-radius: 25px;
  background-color: white;
  @include d-flex(space-between, center);
  flex-direction: column;
  & > img {
   max-width: 250px;
/*    height: 35vh; */

    /* width: 60vw; */
    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
  &--text {
    @include d-flex(center, flex-start);
    flex-direction: column;
    width: 90%;
    & > h2 {
      font-size: 1.3rem;
    }
    & > h3 {
      font-size: 1rem;
    }
  }
  &--button {
    border-radius: 15px;
    border: 1px solid grey;
    /* width: 107px; */
    width: 115px;
    height: 32px;
    background-color: $color-textmenu;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.9);
      border-color: aquamarine;
    }
    & > p {
      font-size: 1rem;
      color: $color-coolyellow;
    }
  }
}
