/*MOVIL*/
@media only screen and (max-width: 500px) {
    .header>a>img {
        width: 120px;
    }

    .header--menu {
        &>ul {
            flex-direction: column;

            &>li {
                margin: 5px;
                padding: 5px;

                &>a {
                    font-size: 1rem;
                }
            }
        }

        &--icono {
            &--img {
                width: 60px;
            }
        }
    }


.itemlistcontainer--home{
    flex-direction: column;
    height:300px;
    width: 100vw;
    &--container{
        width: 100vw;
        padding-left:2.3rem;
        &--title{
            font-size: 1.6rem;
        }
    }
}

    .item {
        margin: 0.5rem;
        padding: 0.5rem;
        height: 350px;
        width: 212px;
        min-height: auto;

        &>img {
            max-width: 150px;
        }

        &--text {
            margin: 0.9rem;

            &>h5 {
                font-size: 0.8rem;
            }

            &>p {
                font-size: 0.7rem;
            }
        }
    }




    .itemdetail {
        flex-direction: column;
        @include d-flex(center, center);
        width: 100vw;
        &>img{
 height: auto;
        }
        &--description {
            margin-top: 1rem;
            width: 100vw;
            max-width: 100%;
            padding: 0rem;
            &--count{
                padding:0.5rem;
            }
        }
    }

    .cartContainer {
        &--listItems {
            width: 100%;

        }
    }

    .itemBox {
        border-bottom: 1px solid black;

        &--text {
            &>p {
                font-size: 0.8rem;
            }
        }

        &--icono {
            width: 1rem;
        }
    }

    .purchase {
        width: 100%;
        max-width: 100%;
        padding: 1rem 0;
    }

    .countcontainer {
     /*    flex-direction: column; */
        margin: 0rem;
        padding: 0.5rem;

        &--cantidad {
            margin: 0.5rem;
        }

        &--agregar {
            margin: 0.5rem;
        }

        &--stock {
            margin: 0.5rem;
        }
    }

    .checkout {
        flex-direction: column-reverse;

        &--comics {

            &--comic {
                max-width: 100vw;
                margin: 1rem 0 0 0;

                &>img {
                    height: 100px;
                }
            }

            &--total {
                padding: 0.5rem;
                width: 100vw;
                ;
            }
        }
    }

    .footer {
        grid-template-columns: auto auto;

        &--address {
            display: none;
        }

        &--menu {
            grid-column: 1/2;

            &--links {
                &>ul {
                    flex-direction: column;
                    &>li>a {
                        font-size: 1rem;
                    }
                }
            }
        }

        &--img {
            grid-column: 2/3;
        }

        &--address {


            margin-left: 25px;

            &>h4 {
                top: 25px;
            }

            &>p {
                line-height: 1.2rem;
                font-size: 0.9rem;
            }

        }
    }

    .footer--menu--img {
        align-items: center;

        &>img {
            @include flex-center;
            max-height: 50%;
        }
    }



}