/*TABLET*/
@media only screen and (min-width: 501px) and (max-width: 960px) {

    /*RESET*/
    .header>a>img {
        width: 180px;
    }

    .header--menu {
        &>ul>li {
            margin: 5px;
            padding: 5px;
        }
    }

    .itemlistcontainer--home {
        flex-direction: column;
        height: 300px;

        &--container--title {
            padding-left: 3.5rem;
        }
    }

    .item {
        margin: 0.5rem;
        padding: 1rem;
        height: 400px;
        width: 224px;
        min-height: auto;

        &>img {
            max-width: 180px;
        }

        &--text {
            margin: 0.9rem;

            &>h5 {
                font-size: 0.8rem;
            }

            &>p {
                font-size: 0.7rem;
            }
        }
    }


    .itemdetail {
        flex-direction: column;
        @include d-flex(center, center);

        &--description {
            margin-top: 1rem;
            padding: 0rem;
            width: 420px;
            max-width: 100%;
            &--count{
                padding:0.5rem;
            }
        }
    }


    .cartContainer {
        &--listItems {
            width: 90%;

        }
    }

    .itemBox {
        border-bottom: 1px solid black;

        &--text {
            &>p {
                font-size: 0.9rem;
            }
        }


    }

    .purchase {
        width: 90%;
        max-width: 100%;
    }


    .checkout {
        flex-direction: column-reverse;
    }

    .footer {
        grid-template-columns: auto auto;

        &--address {
            display: none;
        }

        &--menu {
            grid-column: 1/2;

            &--links {
                &>ul {
                    flex-direction: column;

                    &>li>a {
                        font-size: 1rem;
                    }
                }
            }
        }

        &--img {
            grid-column: 2/3;
        }
    }

    .footer--address {
        margin-left: 25px;

        &>h4 {
            top: 35px;
        }
    }


    .footer--menu--img {
        align-items: center;

        &>img {
            @include flex-center;
            max-height: 70%;
        }
    }
}